@echo off

REM ===========================================================================
REM Prepare machine-dependent environment settings
REM ===========================================================================

set "AD_PRODUCTS=E:\projects\EZYDRO2\dev\products_notused"
set "CASROOT=C:\Work\OCC\master-install"
